* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* reset */
/* Stilizzazione container */
.container{
    max-width: 700px;
    
    margin : 0 auto;

    margin-top: 200px;
   
}

/* Stilizzazione slider*/
#slider{
    /* deve vedersi sotto le frecce */
    position: relative;

    height: 400px;
    border: 1px black solid;
    border-radius : 20px;
    /* per non far fuoriuscire l'immagine uso */
    overflow: hidden;

}
/* ridimensionamento immagine */
#slider img{
    
    width: 100%;
    height: 100%;
    /* per visualizzare meglio l'immagine e che quindi non sia stretchata */
    object-fit: cover;
    /* cover = ricopre l'intero spazio, la estende per tutto il contenuto */
   
}
/* rendo visibile solo la prima img  */
#slider img:not(.active){
    display: none;
}
.txt_image{
    color: white;
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 9;
    text-align: center;
}
#slider #arrows{
    /* freccie a destra e a sinistra */
   display: flex;
   justify-content: space-between;
   padding: 0 20px;

    /* devo far si che si vedano sopra l'immagine */

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
   
}
/* frecce in hover */
#slider #arrows > * {
    transform: scale(1);

    transition: transform 0.2s ease ;
}
#slider #arrows > *:hover {
    cursor: pointer;

    transform: scale(1.1);
}